@page "/projects"

@using Portfolio.Shared
@using Portfolio.Client.Components

@inject HttpClient Http

<h3>Projects</h3>

@if (_projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Table</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Short Description</th>
            <th>Image Description</th>
            <th>Image URL</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var project in _projects)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Created.ToShortDateString()</td>
                <td>@project.ShortDesc</td>
                <td>@project.ImageDescription</td>
                <td>@project.ImageUrl</td>
            </tr>
        }
        </tbody>
    </table>
    
    <h1>Cards</h1>
    <div class="flex flex-wrap">
        @foreach (var project in _projects)
        {
            <ProjectCard 
                @key=@project.ProjectId 
                 Title=@project.Title 
                 Categories=@project.Categories 
                 Created=@project.Created 
                 Technologies=@project.Technologies
                 ImageAlt=@project.ImageDescription
                 ImageUrl=@project.ImageUrl
                 PageLink=""
            />
            @* TODO: Add page link... *@
        }
    </div>
}

@code {
    private Project[] _projects;

    protected override async Task OnInitializedAsync()
    {
        _projects = await Http.GetFromJsonAsync<Project[]>("Project");
    }
}