@using Portfolio.Shared
@using Portfolio.Client.Services

<div class="w-1/3">
    <MudCard Class="m-4">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">@Title</MudText>
                <MudText Typo="Typo.body2">@Created</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardMedia Image="@ImageUrl" Height="250"/>
        <MudCardContent>
            <MudText Typo="Typo.body2">@ShortDescription</MudText>
        </MudCardContent>
        <MudCardActions Class="flex justify-end">
            <MudButton Color="Color.Primary" Variant="Variant.Outlined" Link="@PageLink">
                More Info
            </MudButton>
        </MudCardActions>
    </MudCard>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public DateTime Created { get; set; }

    [Parameter]
    public string ShortDescription { get; set; }

    [Parameter]
    public string ImageAlt { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string PageLink { get; set; } = "/projects";

    [Parameter]
    public ICollection<Technology> Technologies { get; set; }

    [Parameter]
    public ICollection<Category> Categories { get; set; }

    protected override void OnParametersSet()
    {
        if (ImageUrl == "")
        {
            ImageUrl = "https://picsum.photos/600/400/?random";
        }
        base.OnParametersSet();
    }

}